@import "./variables.scss";

.about-main{
    z-index: -2;
    position: relative;
    padding-bottom: 60px;
    background-color: $secondary-color-light;
    padding-top:30px;
    margin-top:-20px;
    padding-left:15px;
    padding-right:10px;
    @media (min-width: 500px){  
      padding-left:85px;
      padding-right:85px;
    }

    .about-background{
      z-index: -1;
      position: absolute;
      height: 7em;
      width: 7em; 
      left: 30px; 
      top: 20px;
      #web-thunder {
        fill: $third-color;
      }
      #web-square {
        fill: var(--change-background);
      }
    }
    
    .about-title{
        text-align: center;
        padding-top:50px;
    }
    .about-flex{
        display:flex;
        flex-direction:column;
        @media (min-width: 1025px){
            flex-direction:row;
        } 
        .me-image{
            max-width:200px;
            display:block;
            margin-left:auto;
            margin-right:auto;
            @media (min-width: 500px){
                max-width:350px;
                align-self:center;
            }
            @media (min-width: 800px){
                max-width:350px;
            }
            
        }
        .about-text{
            margin-top:30px;
            @media (min-width: 767px){
                margin-left:30px;
                margin-right:30px;
            }
        
        
        }
    }
    
}

.about-secondary-title{
    text-align: center;
}

.about-flex-container{
  /*   display: grid;
    grid-template-columns: 1fr 1fr;
    @media (min-width: 500px){
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    } */
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;


    .tech-icon{
        width:50px;
        height:50px;
        margin-left:25px;
        margin-top:25px; 
    }
    
}


/* font-family: 'Fredoka One', cursive;
font-family: 'Kalam', cursive;
font-family: 'Kite One', sans-serif;
font-family: 'Mitr', sans-serif;
font-family: 'MuseoModerno', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Special Elite', cursive; */