.bot {
  z-index: 1;
  position: fixed;
  bottom: -15px;
  right: 10px;
/*   -webkit-user-select: none;
  -ms-user-select: none; 
  user-select: none; */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  .person{
    width: 150px;
    height: 150px;
    @media (max-width: 480px) {
      width: 80px;
      height: 80px;
    }
    &:hover {
      cursor: pointer;
    }
    
  }
  
}

.dialog {
  z-index: 1;
  padding: 15px;
  bottom: 150px;
  right: 10px;
  position: fixed;
  background-color: white;
  text-align: center;
  border-radius: 50px;
  max-width: 300px;
  @media (max-width: 480px) {
    bottom: 80px;
  }
  /* bottom: -50px;
  right: 5px; */
}