@import "./variables.scss";

.footer-main{
    /* background-color: $primary-color;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    @media (min-width: 500px){
    flex-direction:row;
    } */
    background-color: $black-light;
    margin-top:-20px;
    margin-bottom:-20px;
    padding-top: 80px;
    padding-bottom: 40px;
    text-align: center;
    .footer-text{
       margin-top: -10px;
       font-size: 15px;
       color: white;
    }
}