@import "./variables.scss";

.footer-main{
    background-color: $primary-color;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    @media (min-width: 500px){
    flex-direction:row;
    }
    .footer-text{
        font-size:10px;
    }
}