@import "./variables.scss";

.proyects-main{
/*     height: 100vh; */
    background-color: $third-color-light; 
    margin-top:-20px;
    text-align:center;
 /*    padding-top:30px;
    padding-right:10px;
    padding-left:10px;
    @media (min-width: 500px){
        padding-left:100px;
        padding-right:100px;
    }
    padding-bottom:40px; */

    padding-top:30px;
    padding-right:10px;
    padding-left:10px;
    @media (min-width: 500px){
        padding-left:100px;
        padding-right:100px;
    }
    padding-bottom:40px;
}
.project{
    border:1px solid red;
    text-align: center;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:30px;
    margin-right:30px;
}

.project-test{
    width:200px;
    height: 100px;
    background-color: blueviolet;
}

.project-link{
    width:20px;
    margin:5px;
    cursor:pointer;
}

.projects-container{
    display:grid;
    grid-template-columns:1fr;
    @media (min-width: 500px){
        grid-template-columns: 1fr 1fr;
    }
}

.projects-adalab{
  margin-top: 50px;
}

