@import "./variables.scss";

.proyects-main{
    z-index: -2;
    position: relative;
    background-color: $third-color-light; 
    margin-top:-20px;
    text-align:center;
    padding-top:30px;
    
    @media (min-width: 500px){
        padding-right:10px;
        padding-left:10px;
        padding-left:100px;
        padding-right:100px;
    }
    padding-bottom:40px;

    .projects-background{
      z-index: -1;
      position: absolute;
      height: 7em;
      width: 7em; 
      right: 30px; 
      top: 20px;
      #web-semi {
        fill: $primary-color;
      }
      #web-circle {
        fill: var(--change-background);
      }
    }

    .projects-container{
      display:grid;
      grid-template-columns:1fr;
      @media (min-width: 550px){
          grid-template-columns: 1fr 1fr;
      }
      @media (min-width: 770px){
        grid-template-columns: 1fr 1fr 1fr;
      }
  }

  .projects-adalab{
    margin-top: 50px;
  }

}