$primary-color: #FF85BE;
$primary-color-light: lighten( $primary-color, 20% );
$secondary-color: #1DF0CF;
$secondary-color-light: lighten( $secondary-color, 35% );
$third-color: #FCFC62;
$third-color-light: lighten( $third-color, 20% );
$fourth-color: #7048f5;
$fourth-color-light: lighten( $fourth-color, 30% );


:root {
  --primary-color: #{$primary-color};
  --primary-color: #{$primary-color};
  --primary-color-light: #{$primary-color-light};
  --secondary-color: #{$secondary-color};
  --secondary-color-light: #{$secondary-color-light};
  --third-color: #{$third-color};
  --third-color-light: #{$third-color-light};
  --fourth-color: #{$fourth-color};
  --fourth-color-light: #{$fourth-color-light};
}


$change-background: black;

$black-light: lighten( black, 30% );

*{
  font-family: 'Mitr', sans-serif;
  font-size: 20px;
}